/* AdminReportPanelpage.module.css */

.reportTypeSelectionWrapper, .reportScopeSelectionWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto; /* Center the wrapper */
}

.reportTypeSelection, .reportScopeSelection {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.selectionItem {
    cursor: pointer;
    color: #343a40; /* Dark gray color */
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #343a40; /* Dark gray border */
    background-color: #f8f9fa; /* Light gray background */
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0; /* Remove border radius */
}

.reportTypeSelection .selectionItem {
    width: 50%; /* Each item takes up 50% of the width */
}

.reportScopeSelection .selectionItem {
    width: 33.33%; /* Each item takes up 33.33% of the width */
}

.selectionItem:hover {
    color: #212529; /* Darker gray on hover */
    background-color: #e2e6ea; /* Darker gray on hover */
}

.selectionItem.selected {
    color: #212529; /* Darker gray */
    background-color: #d6d8db; /* Darker gray for selected */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

h1, h2 {
    margin-bottom: 20px;
    color: #343a40; /* Dark gray color */
}

p {
    margin: 5px 0;
}

p[style*="color: red"] {
    color: red;
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 20px 20px 80px; /* Adjust padding to reduce space below HeaderSimple */
}

.reportTableContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.decisionPanel button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.decisionPanel button:hover {
    background-color: #007bff;
    color: black;
    border-color: #0056b3;
}

.decisionPanel button.delete {
    background-color: #dc3545;
    color: black;
    border: 1px solid #dc3545;
}

.decisionPanel button.delete:hover {
    background-color: #b52a37;
    border-color: #b52a37;
}

.decisionPanel button.lock {
    background-color: #ffc107;
    color: black;
    border: 1px solid #ffc107;
}

.decisionPanel button.lock:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}

.decisionPanel button.pass {
    background-color: #28a745;
    color: black;
    border: 1px solid #28a745;
}

.decisionPanel button.pass:hover {
    background-color: #218838;
    border-color: #218838;
}
.decisionPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}




@media (max-width: 1200px) {
    .reportTypeSelection, .reportScopeSelection {
        width: 90%;
    }

    .reportTypeSelection .selectionItem {
        width: 50%;
    }

    .reportScopeSelection .selectionItem {
        width: 33.33%;
    }

    .reportTableContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .reportTypeSelection, .reportScopeSelection {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .reportTypeSelection .selectionItem, .reportScopeSelection .selectionItem {
        width: 100%;
        margin: 10px 0;
    }

    .reportTableContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}