
.compareProductContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 0;
    width: 100%;
    background-color: #9999b3;

}

.compareProductColumn {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;

}


.compareProductImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.compareProductName {
    font-size: 18px;
    font-weight: bold;
}

.compareProductPrice {
    font-size: 16px;
    color: #333;
}

.productName {
    font-size: 20px;
    font-weight: bold;

}

.topRightElements {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    background-color: #9999b3;
}


.contentContainer {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.productItem {
    flex: 1 1 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 280px;
}

.productItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin: 0 auto;
}

.pageTitle
{
        font-size: 50px;
        font-weight: bold;
        margin: 10px 0;
        color: #333;
}
.clearButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.clearButton:hover {
    background-color: #e60000;
    cursor: pointer;
}
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
