.compareButton {
    background: transparent !important;
    border: none !important;
    padding: 0;
    cursor: pointer;
    transition: none !important;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}
