
.compareProductContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 0;
    width: 100%;
    background-color: #9999b3;
}

.compareProductColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    margin: 0 10px;
    position: relative; /* Ensure the column is the reference for absolute positioning */

}

.compareProductImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.compareProductName {
    font-size: 18px;
    font-weight: bold;
}

.compareProductPrice {
    font-size: 16px;
    color: #333;
}


.topRightContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topRightElements {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pageContainer {
    position: relative; /* Ensure the container is the reference for absolute positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    background-color: #9999b3;
}

.pageTitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.contentContainer {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.legendContainer {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}

.legendItem {
    margin: 10px 0;
    font-size: 16px;
}

.productContainer {
    display: flex;
    background-color: #9999b3;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.productItem {
    flex: 1;
    padding: 10px;
    background-color: #9999b3;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.invisibleImage {
    width: 100px; /* Set the same width as compared products */
    height: 100px; /* Set the same height as compared products */
    visibility: hidden; /* Make the image invisible */
    margin-bottom: 10px;
}