.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.socialIcons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.socialIcons img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
