.productGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds consistent spacing between items */
    justify-content: left; /* Centers items in the grid */
}

.productGrid > div {
    flex: 1 1 calc(30% - 20px); /* Adjust width to a reasonable size */
    max-width: 300px; /* Limit the maximum width of each item */
    min-width: 250px; /* Ensure items don't get too small */
    margin: 10px; /* Add some spacing around each item */
}

.removeAllFavouritesButton{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
}

.FoundProducts{
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.removeAllFavouritesButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.removeAllFavouritesButton:hover {
    background-color: #e60000;
    cursor: pointer;
}