.favouriteProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
    position: relative;
}

.favouriteProductContainer:hover {
    transform: scale(1.05);
}

.productImage {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
}

.productTitle {
    font-size: 1.8em;
    margin: 10px 0;
    text-align: center;
}

.productDetails {
    text-align: center;
}

.sellerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.sellerImage {
    position: absolute; /* Change from absolute to relative */
    display: block; /* Ensures proper block rendering */
    width: 75px;
    height: 50px;
    margin: 0;
    top: 2%; /* Remove if not needed */
    left: 5%; /* Remove if not needed */
    object-fit: contain; /* Ensures proper scaling of the image */
}

.productActions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.priceByWeight{
    font-size: 15px;
}

.priceDefault{
    font-size: 25px;
}