/* Footer.module.css */



.footerContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    left: 5%;
    background-color: #a7a7d0;
    padding: 20px;
    text-align: right;
    z-index: 1000;
}


.footerLinks {
    flex-direction: column;
    gap: 10px;
}

.footerLink {
    color: #333;
    cursor: pointer;
    margin: 0 10px;
}

.footerLink:hover {
    text-decoration: underline;
}

.footerText {
    margin-bottom: 20px; /* Add spacing between the text and links */
}


.footerLink:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .footer {
        padding: 10px;
    }

    .footerLink {
        margin: 5px;
    }
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}