/* Footer.module.css */

#footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.footerContainer {
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Arrange items in a column */
    align-items: flex-start; /* Align items to the left */
    background-color: #a7a7d0; /* Gray purple color */
    padding: 20px; /* Add padding for spacing */
    text-align: left; /* Ensure text alignment is to the left */
    width: 100%;
}

.footerLinks {
    display: flex; /* Arrange links horizontally */
    flex-direction: column; /* For stacked links */
    gap: 10px; /* Add space between links */
}

.footerLink {
    color: #333; /* Dark text color */
    cursor: pointer;
    margin: 0 10px; /* Add vertical spacing */
}

.footerLink:hover {
    text-decoration: underline;
}

.footerText {
    margin-bottom: 20px; /* Add spacing between the text and links */
}


.footerLink:hover {
    text-decoration: underline;
}

.footerContainer {
    width: 100%;
    /*position: fixed;*/
    bottom: 0;
    left: 5%;
    background-color: #a7a7d0; /* Gray purple color */
    padding: 20px;
    text-align: left;
    z-index: 1000;
}

@media (max-width: 600px) {
    .footer {
        padding: 10px;
    }

    .footerLink {
        margin: 5px;
    }
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}