.pageButton {
    display: inline-block;
    padding: 8px 16px; /* Takie same wymiary */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pageButton:hover {
    background-color: #d1d1d1;
    transform: scale(1.05);
}

.pageButton.active {
    background-color: #28a745; /* Zielony dla aktywnych */
    color: #fff;
    border-color: #28a745;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Cień */
}
