.pageButtonContainer {
    display: inline-block;
    margin: 5px;
}

.pageButton {
    padding: 8px 16px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

