.removeButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    border: none;
    background: none;
}

.removeButtonIcon {
    font-size: 24px;
    color: red;
    transition: transform 0.2s;
}

.removeButtonContainer:hover .removeButtonIcon {
    transform: scale(1.2);
}