.foundProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.productContainer {
    display: flex;
    position: relative;
    width: 100%; /* Full width */
    height: 200%; /* Increased height */

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.productImage {
    width: 260px; /* 150px * 1.5 */
    height: 260px; /* 150px * 1.5 */
    object-fit: contain;
    margin-right: 20px;
    margin-top: 5%;
}

.productDetails {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 4%;
    text-align: right;
}

.productName {
    font-size: 24px;
    font-weight: bold;
}

.productPrice {
    font-size: 20px;
    color: #333;
}

.productWeight {
    font-size: 18px;
    color: #666;
}

.productActions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}

.sellerInfo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-end;
}

.sellerImage {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-left: 10px;
}